<div>
    <form [formGroup]="selectStateCity">
        <select (change)="onStateChange()" formControlName="state">
            <option *ngFor="let item of states_list" [value]="item.stateId">{{item.stateName}}</option>
        </select>
    </form>
    <app-cities-list [stateId]="stateId" [cities]="cities"></app-cities-list>
    
</div>
