<div>
    <form  [formGroup]="selectStateCity">
        <select (change)="oncityChange()" formControlName="city">
            <option *ngFor="let item of cities" [value]="item.cityId">{{item.cityName}}</option>
        </select>
    </form>
    <button [disabled]="sbutton" (click)="show()">Submit</button>
    
    <app-result *ngIf="show1" [city]="cityId" [state]="stateN"></app-result>

</div>

